@import "../../variables.scss";

.productItem{
    text-align: center;
    width: calc(100%/2 - 10px);
    margin-bottom: 1.5em;
    

    a{
        position: relative;
        overflow: hidden;
        transition: opacity, 0.3s;

            img{
                margin-bottom: .5em;
                display: block;
                width: 100%;
                max-width: 100%;
                height: 60vw;
                object-fit: cover;
            }
            &:hover{
                opacity: 0.8;
            }
        }


    .name{
        font-size: 1.3rem;
    }
    .price{
        color: $price-color;
        font-size: 1.2rem;
    }

}

@media (min-width: 540px) {
    .productItem{
        width: calc(100%/3 - 10px);
        a{
        img{
            height: 50vw;
        }
        }
        .name{
            font-size: 1.5rem;
        }
        .price{
            color: $price-color;
            font-size: 1.3rem;
        }
    }
}



@media (min-width: 991px) {
    .productItem{
        width: calc(100%/4 - 40px);
        a{
        img{
            height: 35vw;
        }
        }
        .name{
            font-size: 1.5rem;
        }
        .price{
            color: $price-color;
            font-size: 1.3rem;
        }
    }
}

@media (min-width: 1200px) {
    .productItem{
        width: calc(100%/4 - 40px);
        a{
        img{
            height: 25vw;
        }
        }
        .name{
            font-size: 1.5rem;
        }
        .price{
            color: $price-color;
            font-size: 1.3rem;
        }
    }
}